@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #333333;
}

.btn {
    display: inline-block;
    background: #16A3F7;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}


.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}